body{
    margin:0px;
}
.container-parking-lot-cleaning{
    display:flex;
}
.parking-lot-cleaning-img{
    display:flex;
    flex:1;
}
.parking-lot-cleaning-description{
    display:flex;
    flex:2;
}